body {
    background-color:gray;
}

.title h1 {
    text-align: center;
    background-color: rgb(224, 224, 224);
    box-shadow: 5px 5px 10px black;
}
  
#graella {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-gap: 5px;
    grid-template-areas: 
    "top1 top2 top3"
    "center1 center2 center3"
    "bottom1 bottom2 bottom3";
}

.info {
    box-shadow: 5px 5px 10px black;
    background-color: white;
    padding: 20px;
    text-align: center;
}

#info1 {
    grid-area: top1;
}

#info2 {
    grid-area: top3;
}

#info3 {
    grid-area: center2;
}

#info4 {
    grid-area: bottom1;
}

#info5 {
    grid-area: bottom3;
}

#info1 .espai {
    letter-spacing: 20px;
}

#info2 .writing {
    writing-mode: vertical-lr;
}

#info3 .tamanytext {
    font-size: 5ch;
}

#info4 .ombratext {
    text-shadow:  5px 5px 10px black;
}

#info5 .espaiparaules {
    text-align: center;
    word-spacing: 40px;
}